<div *ngIf="project">
  <h1>{{project.name}}</h1>
  <div class="border-bottom mb-3"></div>
  <div class="row">
    <div class="col-4">
      <img src="{{url+'get-image/'+project.image}}" alt="" class="img-fluid">
    </div>
    <div class="col-8">
      <div>
        <span class="font-weight-bold">Categoria:</span>
        <span> {{project.category}}</span>
      </div>
      <div>
        <span class="font-weight-bold">Lenguaje:</span>
        <span> {{project.langs}}</span>
      </div>
      <div>
        <span class="font-weight-bold">Año:</span>
        <span> {{project.year}}</span>
      </div>
      <p>{{project.description}}</p>
      <div>
        <button class="btn btn-warning mr-2" (click)="deleteProject(project._id)">Borrar</button>
        <button class="btn btn-info" [routerLink]="['/editar-proyecto',project._id]">Editar</button>
      </div>
    </div>
  </div>
</div>
