@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Importar fuentes custom */
@font-face{
    font-family: Roboto;
    src: url("fonts/RobotoCondensed-Regular.ttf");
}
@font-face{
    font-family: Roboto-ligth;
    src: url("fonts/RobotoCondensed-Light.ttf");
}

nav, h1, h2, h3, h4, h5{
    font-family: "Roboto"!important;
    color: white !important;
}
p, span {
    font-family: "Roboto-ligth"!important;
    color: white;
}
/* Estilos generales */
header{
    height: 100vh;
    position: relative;
}
header img{
    max-height: 75vh;
}
header .nav-section{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
header .nav .nav-link:hover{
    background-color: #ad0f1f;
    transition: all 500ms;
}
header .nav .nav-link.active:hover{
    background-color: #007bff;
}
header .nav-pills .nav-link {
    margin-right: 1em;
    color: white;
    padding: 1.5rem ;
    border-radius: 0 !important;
}


footer h3{
    font-family: "Roboto-ligth"!important;
}

.bg-footer{
    background-color: #9c4149;
}

/* Inputs */
.mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick , 
.mat-form-field-label ,
.mat-form-field.mat-focused .mat-form-field-label ,
.mat-form-field-appearance-outline .mat-form-field-outline
 {
    color: white;
}
.mat-input-element,
.mat-form-field-invalid .mat-input-element {
    caret-color: white;
}

.mat-form-field-appearance-outline.mat-form-field-invalid.mat-form-field-invalid .mat-form-field-outline-thick, .mat-form-field.mat-form-field-invalid .mat-form-field-label,
.mat-form-field.mat-form-field-invalid .mat-form-field-label .mat-form-field-required-marker,
.mat-focused .mat-form-field-required-marker
 {
    color: #d1ecf1;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
    padding-bottom: .5em;
}