<header class="bg-danger">
  <div class="text-center pt-5">
    <img src="../assets/img/n.svg" alt="">
  </div>
  <div class="nav-section">
    <nav class="nav nav-pills container  pl-3 text-uppercase ">
      <a class="nav-link ml-auto" [routerLink]="['/sobre-mi']" [routerLinkActive]="['active']"> Sobre mi</a>
      <a class="nav-link " [routerLink]="['/proyectos']" [routerLinkActive]="['active']">Proyectos</a>
      <a class="nav-link" [routerLink]="['/crear-proyecto']" [routerLinkActive]="['active']">Crear proyectos</a>
      <a class="nav-link mr-auto" [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a>
    </nav>
  </div>
</header>
<section class="container">
  <div class="row justify-content-center">
    <div class="col-8  py-3">
      <router-outlet></router-outlet>
    </div>
  </div>
</section>
<footer class="bg-danger">
  <div class="container py-3">
    <div class="row">
      <div class="col-4">
        <h3>MORE OF ME</h3>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque in enim fugiat sapiente? Natus
          laborum velit totam, necessitatibus debitis nisi. Dolores unde laudantium, id accusantium sapiente aspernatur
          tempore alias?</span>
      </div>
      <div class="col-4">
        <h3>INSPIRATION</h3>
        <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid itaque in enim fugiat sapiente? Natus
          laborum velit totam, necessitatibus debitis nisi. Dolores unde laudantium, id accusantium sapiente aspernatur
          tempore alias?</span>
      </div>
      <div class="col-4">
        <h3>SOCIAL</h3>
        <a href="#" class="mr-2"><img src="../assets/img/instagram.png" alt="instagram"></a>
        <a href="#" class="mr-2"><img src="../assets/img/facebook.png" alt="facebook"></a>
        <a href="#" class="mr-2"><img src="../assets/img/linkedin.png" alt="linkedin"></a>
        <a href="#"><img src="../assets/img/github.png" alt="github"></a>
      </div>
    </div>
  </div>
  <div class="text-center bg-footer py-3">
    &copy; <span>2019 Copyright: Nicolás Cárdenas</span>
  </div>
</footer>
